body{
    text-align: center;
    margin: 20px auto;
    width: 1500px;
    background-color: rgb(212, 212, 212);
}

#selector{
    margin-bottom: 20px;
}

#selector button{
    width: 100px;
    font-size: 1.2rem;
}

#container button{
    width: 50px;
    height: 50px;
    margin: none;
    padding: none;
    color: rgb(83, 83, 83);

}

#container button:hover{
    color: rgb(51, 51, 51);
}